*{
    font-family: arial;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    margin: 0;
}

ul {
    margin: 2px;
    padding: 2px;
    list-style: none;
}

.header{
    padding: 2px 5px;
    border: 3px solid #dd5d5100;
    background-color: #dcd985;
    box-shadow: 0px 0px 14px 0px rgba(68, 49, 24, 0.75);
    border-radius: 5px;
}

.navigator {
    margin-top: 5px;
}

.navigator a {
    padding: 20px 20px;
    text-align: center;
    display: block;
    color: #7c6100;
    font-size: .99em;
}

.navigator a:hover{
    background-color: #677a3f;
    color: #ffffff;
}

@media (min-width: 800px) {
    .header,
    .navigator {
        display: flex;
    }
    .header {
        align-items: center;
        justify-content: space-between;
    }
}

.form {
    margin: 20px auto;
    padding: 10px 10px;
    width: 60%;
    align-self: center;
    background-color: rgb(157, 143, 102);
    display: grid;
    grid-template-rows: 1fr;
    
    gap: 10px 10px;
}

.form a{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: white;

}

#textBox{
    text-align: start;
    height: 200px;
    width: 350px;
}